/1_TensorFlow-Book
/1_Tensorflow_Keras/Neural_network_for_text/aclImdb
/1_Tensorflow_Keras/Neural_network_for_text/glove.6B
/1_Tensorflow_Keras/CNN_convolutional neural network/computer_vision_CNN/cats_and_dogs_small
/1_Tensorflow_Keras/CNN_convolutional neural network/computer_vision_CNN/kaggle_original_data
/1_Tensorflow_Keras/CNN_convolutional neural network/computer_vision_CNN/kaggle_test